<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="support2ConnectionString" connectionString="Data Source=annatto.help4it.local\annatto;Initial Catalog=support2;User ID=help4base;Password=help4base2628"
      providerName="System.Data.SqlClient" />
    <add name="HumanResourcesConnectionString" connectionString="Data Source=annatto.help4it.local\annatto;Initial Catalog=HumanResources;User ID=help4base;Password=help4base2628"
      providerName="System.Data.SqlClient" />
    <add name="help4IT_MSCRMConnectionString" connectionString="Data Source=CARAWAY.help4it.local;Initial Catalog=help4IT_MSCRM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="supportConnectionString" connectionString="Data Source=annatto.help4it.local\annatto;Initial Catalog=support;Persist Security Info=True;User ID=help4base;Password=help4base2628"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="mugwort.help4it.local" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime maxRequestLength="524288000" executionTimeout="3600" targetFramework="4.5" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" />
    <customErrors mode="Off" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add assembly="JuiceUI" namespace="Juice" tagPrefix="juice" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijAccordion" tagPrefix="wijmo" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijCalendar" tagPrefix="wijmo" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijDialog" tagPrefix="wijmo" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijExpander" tagPrefix="wijmo" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijFormDecorator" tagPrefix="wijmo" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijList" tagPrefix="wijmo" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijMenu" tagPrefix="wijmo" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijProgressBar" tagPrefix="wijmo" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijSlider" tagPrefix="wijmo" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijSplitter" tagPrefix="wijmo" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijSuperPanel" tagPrefix="wijmo" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijTabs" tagPrefix="wijmo" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijTooltip" tagPrefix="wijmo" />
        <add assembly="C1.Web.Wijmo.Open.Juice.4" namespace="C1.Web.Wijmo.Juice.WijVideo" tagPrefix="wijmo" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="JuiceUI" publicKeyToken="2ba9b13151115713" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.2.1" newVersion="0.9.2.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <caching>
      <profiles>
        <add extension=".aspx" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
  </system.webServer>
</configuration>